<!DOCTYPE html>
<html>
  <head>
    <title>faca.me</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br/>
    <br/>
    <h2 class="ui center aligned icon header">
      <i class="circular cut icon"></i>
      faca.me
    </h2>
    <div class="ui container">
      <%= yield %>
    </div>

  </body>
</html>
